<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset your RedditClone password!</title>
</head>
<body>
<p> Hello <span th:text="${name}"></span>!</p></br>
<p>There was a request to reset your RedditClone password. If you did not make this request, then please ignore this email.</p>
<p>
    Here is the code for your password recovery:
    <span th:text="${passwordToken}"></span></br>
</p>
<p>Didn't make it? Don't worry. Request another password reset email through the login page, in our app.</p>
<p>Your RedditClone Team.</p>
<p>This email was generated automatically. Please, don't respond to it.</p>
</body>
</html>