<div class="header">
    <div class="logo">Logo</div>
    <div class="navigation">
      <a routerLink="/home">Home</a>
      <a routerLink="/popular">Popular</a>
      <a routerLink="/all">All</a>
      <a routerLink="/random">Random</a>
      <a routerLink="/users">Users</a>
      <a routerLink="/more">More</a>
    </div>
    <div class="user-actions">
      <i class="icon search-icon">🔍</i>
      <i class="icon notification-icon">🔔</i>
      <div class="user-profile">
        <img src="user-avatar.jpg" alt="User Avatar" />
        <span class="username">Username</span>
        <span class="email">user@example.com</span>
      </div>
    </div>
  </div>